.main-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;  /* 세로도 꽉 채우기 */
  height: 90%; /* 내부 패딩 고려해 살짝 줄이기 */
  padding: 40px;
  background-color: #e4e8f1;
}
.main-container.animate-transition {
  background-color: white;
}

.white-box.animate-transition {
  box-shadow:none
}

.white-box {
  display: flex;
  flex: 1;
  height: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.192);
}