.right-panel {
  flex: 0.5;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.8s ease-in-out;
  transform: translateX(0);
  background-color: white;
  border-radius: 20px;

  height: 100vh;
  overflow-y: hidden;
  box-sizing: border-box;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.logo-img {
  width: 40px;              /* ✅ 크기 고정 */
  height: auto;
  max-height: 60px;
  object-fit: contain;
  margin-bottom: 4px;
}

.logo-title {
  font-weight: bold;
  font-size: 20px;
  margin-left: 0;
  margin-top: 4px;
  text-align: center;
}

.small-input:focus {
  border-color: #2962ff;
  outline: none;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.checkbox-item {
  color: #444;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;
  font-size: 14px;
  margin: 4px;
}

.checkbox-item.selected {
  background-color: #2962ff;
  color: white;
  border-color: #2962ff;
}

.checkbox-item input[type='checkbox'] {
  display: none;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.radio-item {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  color: #444;
  transition: background-color 0.2s, color 0.2s;
  user-select: none;
  font-size: 14px;
}

.radio-item.selected {
  background-color: #2962ff;
  color: white;
  border-color: #2962ff;
}

.radio-item input[type='radio'] {
  display: none;
}

.signin-btn {
  margin-top: 12px;
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
}

.animate-transition .right-panel {
  width: 30%;
  flex: 0.5;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  background-color: white;
}

select.small-input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 90%;
  margin-bottom: 10px;
}
