.right-panel {
  flex: 0.5;
  padding: 40px 24px; /* 패딩 줄이기 */
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.8s ease-in-out;
  transform: translateX(0);
  background-color: white;
  border-radius: 20px;
  
  height: 100%;
  overflow-y: auto; /* 내부 요소가 많으면 스크롤 */
  box-sizing: border-box;
}



.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* margin-bottom: 7%; */
  font-size: 24px;
}

.logo-img {
  width: 8%;
  z-index: 1;
}

.logo-title {
  font-weight: bold;
  font-size: 100%;
  margin-left: -16px;
  margin-top: 30px;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  white-space: normal; /* 줄바꿈 허용 */
  word-break: keep-all; /* 단어 기준으로 줄바꿈 */
  text-align: center;
}





.small-input:focus {
  border-color: #2962ff;
  outline: none;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* margin-bottom: 15px; */
  font-size: 10px;
}



.checkbox-item {
  color: #444;
  padding: 5px 11px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;
  font-size: 14px;
  margin: 4px;
}

.checkbox-item.selected {
  background-color: #2962ff;
  color: white;
  border-color: #2962ff;
}

.checkbox-item input[type='checkbox'] {
  display: none;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.radio-item {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #444;
  transition: background-color 0.2s, color 0.2s;
  user-select: none;
}

.radio-item.selected {
  background-color: #2962ff;
  color: white;
  border-color: #2962ff;
}

.radio-item input[type='radio'] {
  display: none;
}

.signin-btn {
  margin-top: 20px;
}





.animate-transition .right-panel {
  width:30%;
  flex:0.5;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  background-color: white; /* 배경이 필요하다면 */
} 

select.small-input {
  padding: 8px;
  /* font-size: 14px; */
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 90%;
  margin-bottom: 10px;
}
